#floorplan  {
  padding: 10px;
}

/* #floorplan svg{
  height: 100vh!important;
} */

/* Animation */

.spinning {
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SVG shapes */

/*
svg, svg * {
  vector-effect: non-scaling-stroke !important;
  pointer-events: all !important;
}*/

/* Hover over */
.ha-entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Binary sensors */

.binary-sensor-on {
  fill: #F9D27C !important;
}

.binary-sensor-off {
  fill: #7CB1F9 !important;
  transition: fill 5s ease;
}

/* Buttons */

.background-on {
  fill: #1ABA92 !important;
}

.background-off {
  fill: #d32f2f !important;
}

.background-on tspan {
  fill: white !important;
}

/* Colors */

path[id*="colors.off"]:not(.light-off) {
  opacity: 0 !important;
}

/* Alarm */

path[id*="alarm.away"]:not(.armed_away) {
  opacity: 0 !important;
}

path[id*="alarm.home"]:not(.armed_home) {
  opacity: 0 !important;
}

/* Light Control */

path[id*="room."].light-on{
  opacity: 0 !important;
  transition: opacity .25s;
  -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
}

path[id*="room."].light-off{
  fill: #000000 !important;
  opacity: 0.5 !important;
  transition: opacity .25s;
  -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
}

path[id*="room."] {
  fill: #ff0000 !important;
  opacity: 0.3 !important;
  transition: opacity .25s;
  -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
}

/* Light Control */

path[id*="lightbulb"].light-on {
  fill: #ffff00 !important;
}

path[id*="lightbulb"].light-off {
  fill: #ffffff !important;
}

path[id*="lightbulb"] {
  fill: #ff0000 !important;
}

path[id*="lightgradient"].light-on {
  opacity: 1.0 !important;
}

path[id*="lightgradient"].light-off {
  opacity: 0 !important;
}

path[id*="lightgradient"]:not(.light-on):not(.light-off) {
  fill: #ff0000 !important;
  opacity: 0.2 !important;
}

/* Fireplaces */

path[id*="firegradient"].fire-on {
  opacity: 1.0 !important;
}

path[id*="firegradient"].fire-off {
  opacity: 0 !important;
}

path[id*="firegradient"]:not(.fire-on):not(.fire-off) {
  fill: #ff0000 !important;
  opacity: 0.2 !important;
}

/* HVAC */

path[id*="hvac"] {
  opacity: 0.0 !important;
}

path[id*="hvac.heat"].heating {
  opacity: 1.0 !important;
}

path[id*="hvac.cool"].cooling {
  opacity: 1.0 !important;
}

path[id*="hvac.off"].none {
  opacity: 1.0 !important;
}


path[id*="hvac.off"]:not(.none):not(.heating):not(.cooling) {
  fill: #ff0000 !important;
  opacity: 0.2 !important;
}


/* Occupancy */

path[id*="occupancy"].occupied {
  opacity: 1.0 !important;
  fill: #00ff00 !important;
}

path[id*="occupancy"].unoccupied {
  opacity: 0.0 !important;
}

path[id*="occupancy"] {
  opacity: 1.0 !important;
  fill: #ff0000 !important;
}

/* Entry Sensors */

path[id*="entry"].open {
   fill: #ff0000 !important;
}

path[id*="entry"].tamper {
   fill: #ffff00 !important;
}

path[id*="entry"].closed {
   fill: #00ff00 !important;
}


/* Things Control */

[id*="thing."].thing-on{
  opacity: 1 !important;
  filter: drop-shadow(0px -5px 3px #ffedde);
  fill: #fffae54f !important;
}

[id*="thing."]{
  opacity: 0 !important;
  transition: opacity .25s;
  -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
}

/* Temperature text */

tspan {
  fill: #ffffff;
}

/* Spinning fan */

.spinning {
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
